@model Interactions.ResponseModels.ExpenseListResponse

@{
    ViewBag.Title = "List";
}

<h2>List of Expenses</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.Expenses)
        {
            <tr>
                <td>@expense.ExpenseId</td>
                <td>@expense.Category</td>
                <td>@expense.Amount</td>
            </tr>
        }
    </tbody>
</table>
