@{
    ViewBag.Title = "CreateCategory";
}

<h2>CreateCategory</h2>
<form method="post" action="Create">
    <label for="">Enter Category Name</label>
    <input id="Name" name="Name" type="text" />
    <button type="button">Cancel</button>
    <button type="submit">Add Category</button>
</form>