@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Category/Create">Add Category</a><br />
<a href="/Expense/Create">Add Expense</a>

<h3>List Expenses</h3>
<form>
    <label for="ListFrom">From:</label>
    <input  id="ListFrom" type="date" name="ListFrom" />
    <label for="ListTo">To:</label>
    <input  id="ListTo" type="date" name="ListTo" />
    <button id="ListFormBtn" onclick="listInRange('Expense', 'List', 'ListFrom', 'ListTo'); return false;">List Expenses</button>
</form>

<br />
<h3>Summarize Expenses</h3>
<form>
    <label for="SummarizeFrom">From:</label>
    <input  id="SummarizeFrom" type="date" name="SummarizeFrom" />
    <label for="SummarizeTo">To:</label>
    <input  id="SummarizeTo" type="date" name="SummarizeTo" />
    <button id="SummarizeFormBtn" onclick="listInRange('Expense', 'Summarize', 'SummarizeFrom', 'SummarizeTo'); return false;">Summarize Expenses</button>
</form>


<script type="text/javascript">
    function listInRange(route, method, fromId, toId) {
        //$("#flash-messages").flashMessage({ message: "test" })
        var url = '/' + route + '/' + method + '?from=' + $('#' + fromId).val() + '&to=' + $('#' + toId).val();
        window.location = url;
    }
</script>